
*.html
*.png
*.xml
*.lst
TestAutomationFramework/target/test-classes/com/runner/Runner.class
TestAutomationFramework/TestAutomationFramework.iml
TestAutomationFramework/target/test-classes/com/runner/Runner.class
