
*.html
*.png
*.lst
TestAutomationFramework/target/test-classes/com/runner/Runner.class
TestAutomationFramework/TestAutomationFramework.iml
*.js
*.css
*.gif
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
